<section id="resume">
    {% for section in page.header.sections %}
    <div class="row {{ section.css_class }}">
        <div class="three columns header-col">
            <h1><span>{{ section.title }}</span></h1>
        </div>
        <div class="nine columns main-col">
            {% for item in section.items %}
            <div class="row item">
                <div class="twelve columns">
                    <h3>{{ item.title }}</h3>
                    <p class="info">{{ item.info }} <span>&bull;</span> <em class="date">{{ item.date }}</em></p>
                    <p>
                        {{ item.description }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
